
.authContainer {
    max-width: 400px;
    margin: 2rem auto; 
    padding: 3rem;
    border-radius: 10px; 
    background-color: rgb(246, 246, 246); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease; 
  }
  
  .authContainer:hover {
    transform: translateY(-5px); 
  }
  
  .Auth_h2 {
    text-align: center; 
    margin-bottom: 1.5rem;
    color: #1B1B1B; 
  }

  .Auth_Button {
    margin-top: 10px;
    padding: 0.75rem; 
    background-color: #1B1B1B; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s, transform 0.2s;
    width: 100%;
  }
  
  .Auth_Button:hover {
    background-color: #454545; 
  }
  
  .linkContainer {
    display: flex; 
    justify-content: center;
    margin-top: 1rem; 
  }
  .reg_link{
    color: rgb(128, 127, 128);
    transition: 0.3s;
  }
  .reg_link:hover{
    opacity: 0.8;
    transition: 0.3s;
  }

  @media (max-width:768px) {
    .authContainer{
      width: 340px;
    }
  }