
.main_container {
  max-width: 1000px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  background-color: #1B1B1B;
  text-align: center;
}
.AddIcon{
  text-align: center;
  cursor: pointer;
  width: 16px;
  height: 16px;
  text-align: center;
  border: 1px solid white;
  color: white;
  padding: 4px;
  border-radius: 50%;
  transition: 0.2s;
}
.h2{
  padding: 10px;
  color: white;
}
