
.main_part{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    margin-top: 200px;
}
.main_h1{
 margin: 30px;
}
.main_link{
font-size: large;
font-weight: 600;
border: 1px solid white;
padding: 10px;
border-radius: 20px;
transition: 0.4s;
}
.main_link:hover{
    transition: 0.4s;
    animation: linka 0.5s infinite;
}
.main_link:active{
    transition: 0.1s;
    scale: 1.1;

}
@keyframes linka {
    from{
      transform: translateY(0px);
    }
    to{
        transform: translateY(-5px);
    }
}