
.container {
  display: grid;
  grid-template-rows: repeat(2,0fr);
  max-width: 1000px;
  margin: 50px auto 10px;
  padding: 20px;
  color: #fff;
}
.addContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center;
}
.add_Input{
  border-radius: 10px;
  padding: 4px; 
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

.container_h2 {
  text-align: center;
  color: #ffffff;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: bold;
}

.progress_table {
  width: 100%;
  border-collapse: collapse;
}

.progress_thead {
  background-color: #777575;
}

.progress_th,
.progress_td {
  padding: 15px;
  border: 2px solid #000000;
  text-align: center;
  font-size: 16px;
  font-weight: 800;
}
.progress_td:nth-child(4){
  padding: 0px;
  margin: 0px;
}
.progress_tr{
  background: #606060;
}
.progress_tr:hover {
  background-color: #505050;
}
.icon{
  cursor: pointer;
  width: 16px;
  float: right;
  text-align: center;
  margin-top: 4px;
  transition: 0.2s;
}
.AddIcon{
  text-align: center;
  cursor: pointer;
  width: 16px;
  height: 16px;
  text-align: center;
  margin-bottom: 8px ;
  margin-left: 20px;
  border: 1px solid white;
  padding: 4px;
  border-radius: 50%;
  transition: 0.2s;
}
.removeIcon{
  text-align: center;
  border: 1px solid white;
  padding: 2px 4px;
  border-radius: 50%;
  
}
.icon:hover, .AddIcon:hover, .removeIcon:hover {
  transition: 0.2s;
  transform: scale(1.1);
}
.status_input{
  background: #606060;
  width: 100%;
  height:52px;
  text-align: center;
  font-size: 16px;
  font-weight: 800;
  border: none  ;
}
.status_input:hover{
  background-color: #505050;
}
.status_input:focus {
  outline: none;
  border-color: #007acc;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}
.progress_td_red{
  background: greenyellow;
}

@media (max-width: 768px) {
  .container {
    padding: 15px;
  }
}

